.red{
    color:red;
}

.openDiv {
    animation: expendDiv 0.5s 1 normal both;
}

.closeDiv {
    animation: collapseDiv 0.5s 1 normal both;
}
  
@keyframes expendDiv{
    0%{
        height:0;
    }
    100%{
        height:50px;
    }
}

@keyframes collapseDiv{
    0%{
        height:50px;
    }
    100%{
        height:0;
    }
}
  